<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484366291251-p2o5kbmt9c06g8pj734r4c59tf43i212.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484366291251-p2o5kbmt9c06g8pj734r4c59tf43i212</string>
	<key>API_KEY</key>
	<string>AIzaSyDe1SoasO35ctr59o2CAgCbq8XNTywCppc</string>
	<key>GCM_SENDER_ID</key>
	<string>484366291251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>book-for</string>
	<key>STORAGE_BUCKET</key>
	<string>book-for.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484366291251:ios:cf2bd7ce99134e582a6e46</string>
	<key>DATABASE_URL</key>
	<string>https://book-for-default-rtdb.firebaseio.com</string>
</dict>
</plist>